       /* LOGIN*/

.center{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.form{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 4%;
    color:#020532 ;
}
label{
    display: flex;
    justify-content: space-between;
}
p{
    color:#020532;
}

/*  ADMIN PAGE  */


       main  h1{
           line-height: 120%;
       }
body{
    line-height: 120%;
}
navbar a:hover{
    text-decoration: underline;
}
.tabela{
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
}
.tabela h2{
    margin-bottom: 4%;
    font-weight: 600;
    font-size: 1.2em;
}
.cabecalho{
    display: flex;
    width: 100%;
}
.cabecalho img{
    height: 16px;
    padding-right: 1%;
    cursor: pointer;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
th{
    font-weight: bold;
}
.cont{
    display: flex;
}
.see, .add, . edit{
    width: 40%;
}

.add{
    margin-top: 1%;

}
.edit{
    margin-top: 20%;
}
.right{
    margin-left:15vw;

}





