body{
    line-height: 120%;
}
#calend{
    display: flex;
    justify-content: space-between;
}
.jogo{
    color:white;
}
div{
    margin-bottom: 1%;
}
#passados, #futuros{
    width:45%;
    display: block;
    background-color: var(--color-lightblue);
    color: #020532;
    border-radius: 12px;
    padding: 2%;
}

#passados h2, #futuros h2{
    font-weight: bold;
    font-size: 1.2em;

}
#passados h3, #futuros h3{
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 3%;
}