body{
    line-height: 120%;
}
#calend{
    display: flex;
    justify-content: space-between;
}
.jogo{
    color:white;
}
div{
    margin-bottom: 1%;
}
#passados, #futuros{
    width:95%;
    display: block;
    background-color: var(--color-lightblue);
    color: #020532;
    border-radius: 12px;
    padding: 2%;
}

#passados h2, #futuros h2{
    font-weight: bold;
    font-size: 1.2em;
}
#passados p, #futuros p{
    font-weight: bold;
    padding-top: 3%;
}
.jornadas_grid{
    padding: 2vh 0;
    display: grid;
    grid-template-columns: repeat(3, 40%);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}