#ordena{
    margin-bottom: 2%;
}
.classifica{
    width: 90vw;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
th{
    font-weight: bold;
}
br{
    display: none;
}