/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: var(--color-darkblue);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html{
    font-size: 16px;
    font-family: 'Avenir', sans-serif;
    scroll-behavior: smooth;
}
/* colors */
:root {
    --color-darkblue: #020532;
    --color-lightblue: #b3c7d6;
}
navbar{
    background-color: var(--color-lightblue);
    padding: 4vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none ;
    color: var(--color-darkblue);
}

h1{
    font-weight: 900;
    font-size: 1.5em;

}
navbar h1{
    color: var(--color-darkblue);;
}
navbar ul{
    color: var(--color-darkblue);;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
navbar li{
    padding: 0 1vw;
}
navbar li:hover{
    cursor: pointer;
    color: white;
}
main{
    padding: 4vh 2vw;
    color: white;
}
p{
    color:white;
}
select, input{
    cursor: pointer;
}